<h1>Editing thing</h1>

<%= render partial: "form", layout: "card_form", thing: @thing, locals: { title: "Editing thing" } %>

<br>

<div>
  <%= link_to "Show this thing", @thing %> |
  <%= link_to "Back to things", things_path %>
</div>



<% content_for :toolbar do %>
  <li class="nav-item">
    <%= link_to "Things", things_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "New thing", new_thing_path, class: "nav-link" %>
  </li>
<% end %>