<h1>Things</h1>

<div class="row" id="things">

  <% @things.each do |thing| %>
    <div class="col-sm-3">

      <%= link_to thing do %>

        <div class="card" id="<%= dom_id thing %>">
          <div class="card-body">
            <h5 class="card-title"><%= thing.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= thing.description %></h6>
          </div>
        </div>

    <% end %>  

    </div>
  <% end %>
</div>


<% content_for :toolbar do %>
  <li class="nav-item">
    <%= link_to "New thing", new_thing_path, class: "nav-link" %>
  </li>

<% end %>
