<p style="color: green"><%= notice %></p>

<%= render @thing %>

<div>
</div>

<% content_for :toolbar do %>
  <li class="nav-item">
    <%= link_to "Things", things_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Edit Thing", edit_thing_path(@thing), class: "nav-link" %> 
  </li>

  <%= button_to "Delete Thing", @thing, method: :delete, class: "btn btn-dark" %>
  
<% end %>