<%# frozen_string_literal: true %>
<div class="card" id="<%%= dom_id @<%= singular_table_name %> %>">
<div class="card-body">
    <h5 class="card-title"><%%= <%= singular_table_name %>.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%%= <%= singular_table_name %>.description %></h6>

  <%- attributes.each do |attribute| -%>
    <p><%= attribute.name %>: <%= singular_table_name %>.<%= attribute.name %> </p>
  <%- end -%>
    <p>
      <%%= link_to "Show this <%= singular_table_name %>", <%= singular_table_name %> %>
    </p>

</div>
</div>